.paperPage{
     height: 91.7vh;
     width: 100vw;
    background: black;
    overflow: hidden;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;

    .viewPaper{
        flex:1;
        // position: absolute;
        bottom: 0;
        background: black;
    }
    .interactive{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 60px;
        gap: 100px;

        .paper--buttons--container{
            height: auto;
            display: flex;
            justify-content: space-around;
            

            .Assign {
               display: flex;
               flex-direction: column;
               align-items: center;
               width: 23%;
               gap:10px;

                .paper--buttons {
                    /* Apply styles to the "Assign Reviewers" button */
                    font-size: 18px;
                    padding: 4px;
                    height: 55px;
                    width: 100%;
                    background-color: grey;
                    color: white;
                    border-radius: 50rem;
                    cursor: pointer;
                    transition: transform 0.5s ease;
                    border: 1px solid grey;
                }
                .paper--buttons.selected{
                    opacity:0.7;
                }
                .paper--buttons:hover{
                    opacity: 0.7;
                }
            

            
                .paper--buttons:active {
                    opacity: 0.4;
              }
            }
            .paper--buttons{
                font-size: 18px;
                padding: 4px;
                height: 55px;
                width: 23%;
                background-color: grey;
                color: white;
                border-radius: 50rem;
                cursor: pointer;
                transition: transform 0.5s ease;
                border:1px solid grey;
            }


            .accept{
                background-color: rgb(21,199,113);
            }

            .reject{
                background-color: red;
            }
            .paper--buttons:hover{
                opacity: 0.7;
            }

            .paper--buttons:active{
                opacity: 0.4;
            }

        }

        .d-container{
            display:flex;
            justify-content: center;

            .dropdown{
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 2;
                border-radius:6px;
                background-color: white;
                color: black;
                height: 200px;
                margin-top:2px;
                width:90%;
                overflow-y: scroll;
                .dropdown--title{
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                
                .option{
                    display: flex;
                    justify-content: center;
                    font-size: 16px;
                    width: 100%;
                    margin-bottom: 8px;
                    cursor: pointer;

                    .c{
                        display: flex;
                        width: 80%;
                        justify-content: space-between;
                        align-items: center;
                        .t{
                            width: 50%;
                            display: flex;
                            gap:10px;
                        }
                    }
    
                    span {
                        background-color: #ebebeb;
                        border-radius: 40px;
                        padding: 5px;
                        white-space: nowrap;
                        user-select: none;
                    }
                }
                .option:hover{
                    background-color: black;
                    color: white;
                }
                
    
            }
        }



        .Comments--container{
            padding: 20px;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            background-color: rgb(128,128,128,0.5);
            height: 75%;
            gap: 15px;
            border-radius: 8px;
            overflow-y: scroll;


            
            color: white;
            #comment--title{
                height: 40px;
                width: 100%;
                font-size: 24px;
                padding-bottom: 5px;
                border-bottom: 1px solid white;
                
            }

            .text-div{
                text-align: center;
                font-size: 5em;
                margin:auto;
            }

            .comments{
                margin-bottom: 2%;

                .no-re{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button{
                        border-radius: 40px;
                        padding:10px;
                        &:hover{
                            transform: scale(1.1);
                        }
                        &:active{
                            transform: scale(1);
                        }
                    }
                }

                .comment--author{
                    font-size: 16px;
                    .ratings{
                        margin-left: 4px;
                        font-size: 14px;
                        font-weight: 100;
                        color: gold;

                    }
                }
                .comments--rating{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap:15px;
                    font-size: 1.65em;
                }
                .Review{

                    line-height: 24px;
                    font-size: 14px;
                    margin-top: 5px;
                    text-indent: 4px;
                    width: 95%
                }
                .tag{
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                    align-items: center;
                    width:20%;
                    border-radius: 50rem;
                    background-color: white;
                    color: black;
                    height: 25px ;
                }
            }

        }
        
    }

}
