.dashboard-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-toggle-container{
    user-select: none;
    cursor: pointer;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashboard-reviewed,.dashboard-unreviewed{
    background-color: rgb(21,199,113);
    padding: 20px;
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dashboard-reviewed{
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 10px 0 0 rgb(77,115,138);
}

.dashboard-unreviewed{
    border-right: 5px solid black;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 10px 0 0 rgb(77,115,138);
}

.dashboard-toggle-active{
    transform: translateY(5px);
    box-shadow: 0 5px 0 0 rgb(67,88,93);
}

.dashboard-filter-container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .view-container{
        cursor: pointer;
        margin-left:30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid black;
        border-radius: 40px;
        background-color: #ebebeb;


        .list-view{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:10px;
            font-size: 2em;
            padding:10px 10px;
            height: 100%;

            .view-icon{
                width: 20px;
                height: 20px;
            }
        }

        .grid-view{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:10px;
            font-size: 2em;
            padding:10px 10px;
            height: 100%;

            .view-icon{
                width: 20px;
                height: 20px;
            }
        }
    }

    .filter-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:30px;
        margin-right: 70px;

        .filter-rating,.filter-decision{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:10px;
            font-size: 2em;
            background-color: #ebebeb;
            padding:10px;
            border-radius: 40px;
            height: 100%;

            .filter-select{
                background-color: #ebebeb;
                height: 100%;
                font-size: 0.95em;
            }

        }

        .filter-tag{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            gap:10px;
            background-color: #ebebeb;
            border-radius: 40px;
            padding:10px;

            .tag-select{
                border: none;
                font-size: 0.95em;
            }


        }
    }
}

.lactive{
    background-color: rgb(21,199,113);
    border-right: solid black;
    border-radius: 40px;
}

.gactive{
    background-color: rgb(21,199,113);
    border-left: solid black;
    border-radius: 40px;
}

.dashboard-card-grid{
    margin-top:30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    gap:30px;
}

.dashboard-table-container{
    margin-top:30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;

    .dashboard-table-cl{
        display: flex;
        flex-direction: row;
        width: 100%;
        border: solid black;
        padding-left: 10px;
        
    
        .table-icon-container-cl{
            width: 100px;
            height: 70px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: solid black;
            font-size: 3em;
            font-weight: 700;
            padding: 0 10px;

        }
    
        .dashboard-table-info-cl{
            display: flex;
            align-items: center;
    
            .table-h1-cl{
                height: 100%;
                width: 500px;
                border-right: solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 20px 0px 0 ;
    
                h1{
                    font-size: 3em;
                    font-weight: 700;
                }
            }
    
    
            .table-rating-container-cl{
                height: 100%;
                width: 120px;
                border-right: solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3em;
                font-weight: 700;
                padding:0 10px;
            }
    
            .table-h2-cl{
                height: 100%;
                width: 200px;
                border-right: solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 10px;
    
                h2{
                    font-size: 3em;
                    font-weight: 700;
                }
            }
    
    
            .table-tag-container-cl {
                font-size: 3em;
                font-weight: 700;
                height: 100%;
                width: 230px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .table-view-container-cl{
                border-left: solid black;
                font-size: 3em;
                font-weight: 700;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 10px;
            }
        }
    }
}


